body {
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 60%;
	margin: 20px auto;
	border: 20px solid #bdc3c7;
}

.date {
	text-transform: uppercase;
}

h2 {
	color: #2c3e50;
}

.cat {
	font-size: 44px;
	font-family: catfont;
	src: url(catfont.tff);
}

.ross {
	font-size: 44px;
	font-family: CMBigFatPaintbrush;
	src: url(paintbrush.ttf);
}

h4 {
	color: #3498db;
	letter-spacing: 3px;
}

.quote {
	border-left: 7px solid #bdc3c7;
	padding-left: 7px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}